/* ----------- top btn ---------- */
.top-btn {
  width: 50px;
  height: 50px;
  background-color: purple;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.more-btn {
  background-color: #fff;
  color: #333333;
  padding: 10px 45px;
  display: inline-flex;
  margin-top: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #333333;
}
.more-btn a {
  color: #000000;
}
/* 오른쪽 배치(명시적 기입) */
.c-slide .more-btn {
  position: absolute;
  border: 1px solid transparent;
  right: 25px;
  padding: 0;
  bottom: 30px;
  gap: 5px;
}
/* 100%를 채워야 하는 구역 */
.card-block .more-btn {
  width: 100%;
}
/* header */
header {
  width: 100%;
  /* border: 1px solid black; */
  background-color: var(--bg-color__white);
  /* height: 100px; */
  position: relative;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.logo-img {
  width: 150px;
  height: 50px;
  /* border: 1px solid blue; */
  margin-left: 20px;
}
.logo-img a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logo-img img {
  object-fit: cover;
}
/* nav */
nav {
  /* background-color: hotpink; */
  /* margin-right에 투명한 auto 벽을 세워서 nav를 왼쪽으로 밀어냄 */
  margin-right: auto;
  margin-left: 20px;
  display: none;
}
nav ul {
  display: flex;
}
nav li {
  /* border: 1px solid black; */
  padding: 10px 20px;
}
nav li a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.all-menu {
  background-color: #fff;
  width: 300px;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  /* right: -100%; */
  transform: translateX(100%);
}
.all-menu-content {
  border: 1px solid red;
  /* margin-left: 20px; */
  margin-top: 50px;
}
.first-menu {
  padding: 20px;
  font-weight: 600;
}
.first-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
}
.second-menu {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.second-menu a {
  font-size: 15px;
  color: #4a4a4a;
}
.second-menu.active {
}
.exit-btn {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}
.all-menu.active {
  transform: translateX(0);
}
/* trigger */
.trigger {
  width: 30px;
  height: 25px;
  /* border: 1px solid red; */
  position: relative;
  right: 20px;
  cursor: pointer;
}
.trigger span {
  width: 100%;
  background-color: #000000;
  height: 2px;
  position: absolute;
  transition: 0.3s;
}
.trigger span:first-child {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.trigger span:last-child {
  bottom: 0;
}
/* hover(active) */
.trigger:hover span:first-child {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
.trigger:hover span:nth-child(2) {
  display: none;
}
.trigger:hover span:last-child {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}

/* 메인&서브 4의 card */

.card-block {
  /* 실제 flex 역할 */
  display: flex;
  flex-direction: column;
}
.card-block + .card-block {
  margin-top: 50px;
}
.image-box {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.text-box {
  padding: 30px 20px 30px 20px;
  box-sizing: border-box;
  text-align: center;
}
.image-box,
.text-box {
  background-color: white;
  width: 100%;
  border-radius: 20px;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-box h3 {
  margin-bottom: 10px;
}
.text-box p {
  line-height: 1.6;
  color: var(--font-color__gray);
}

/* ------- footer ------- */

footer {
  margin-top: 150px;
  width: 100%;
  /* height: 400px; */
  background-color: black;
  padding: 80px 70px;
}
.footer-wrapper {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
}
.footer-content {
  margin-top: 40px;
  /* border: 1px solid blue; */
  height: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}
.footer-content ul {
  /* border: 1px solid yellow; */
  width: 160px;
}
.footer-content li {
  line-height: 1.8;
}
.footer-content a {
  color: #ffffff;
}
.footer-content li:not(.footer-menu) {
  font-size: 15px;
}
.footer-menu {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}
.footer-icon {
  color: #ffffff;
  width: 100%;
  flex-basis: 100%;
  /* border: 1px solid salmon; */
  display: flex;
  margin-top: 30px;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* a 밑에 이미지가 있으므로 그걸 중앙 정렬하려면 li말고 a를 flex해야 함 */
.footer-location a {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-location {
  width: 100%;
  flex-basis: 100%;
}
.footer-location img {
  width: 20px;
  height: 20px;
  /* border: 1px solid red; */
}
.footer-icon li:not(.footer-location) a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer-icon li:not(.footer-location) a img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
/* copyright */
.footer-copy {
  display: block;
  color: var(--font-color__gray);
  text-align: left;
  margin-top: 30px;
}
.footer-copy span {
  font-size: 15px;
}
/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #container {
    background-color: red;
  }
  .top-btn {
    right: 40px;
    bottom: 40px;
  }
  /* 세로 배치 */
  .card-block {
    flex-direction: column;
    aspect-ratio: 1 / 1;
  }
  /* 1:1 비율 유지 */
  .image-box,
  .text-box {
    width: 100%;
  }
  .text-box {
    padding: 50px 40px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .text-box > div {
    width: 100%;
    text-align: center;
  }
  .text-box .more-btn {
    margin-top: 30px;
    width: fit-content;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
  }
}
/* pc */
@media (min-width: 1024px) {
  header {
    height: 80px;
  }
  /* nav */
  nav {
    display: block;
  }
  .main-menu li a {
    transition: 0.3s;
  }
  /* hover */
  .main-menu li:hover a {
    color: red;
  }
  /* trigger */
  .trigger {
    display: none;
  }
  .all-menu {
    width: 100%;
    height: 220px;
    top: 80px;
    right: 0;
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid #e5e5e5;
  }
  .all-menu.active {
    opacity: 1;
    pointer-events: auto;
  }
  .all-menu .exit-btn {
    display: none;
  }
  .all-menu li a {
    font-size: 18px;
    line-height: 30px;
    /* 30이 한계인데 이걸 어떻게 하지? */
  }
  .all-menu-content {
    margin-top: 0;
    height: 100%;
    /* 로고 넓이 + 30px만큼 밀어내기 */
    margin: 0 180px;
    /* background-color: red; */
  }
  .first-menu {
    display: flex;
    gap: 20px;
    text-align: center;
    height: 100%;
    /* height: 100%; */
    /* background-color: red; */
  }
  .first-menu li > a {
    transition: 0.3s;
  }
  /* hover */
  .first-menu li:hover > a {
    color: #000000;
    font-weight: 500;
  }
  .first-menu > li > a {
    /* 전체 메뉴를 펼쳤을 때 서브만 보여야 하니 처음 메뉴는 숨겨야 함 */
    visibility: hidden;
    /* 근데 hidden만 하면 높이가 살아있으니, block화 해서 0으로 해야 li 공간은 유지하고 글자만 쏙 빠짐. */
    display: block;
    height: 0;
  }
  .all-menu-content li {
    /* background: yellow; */
    /* border: 1px solid black; */
  }
  .second-menu {
    /* 아코디언때 쓴건데 빼도 동작은 함 pc라서 */
    max-height: none;
  }
  .second-menu > li > a {
    color: #4a4a4a;
  }
  .top-btn {
    /* 최소로 창을 줄일 때는 right: 80을 유지하다가 1280을 넘어가면 더이상 밖으로 안 빠져나가도록 max값을 함 */
    /* 1280이 전체 컨테이너지만, 패딩 160을 제외하면 1120이고 이걸 절반으로 하면 560 */
    /* 560만 빼면 컨테이너 끝에 붙지만 pc로 최대 넓이일 때 살짝 오른쪽으로 가야하므로 100px만큼 더 뺌 */
    right: max(80px, (50% - 560px) - 100px);
    bottom: 40px;
  }
  /* 세로 배치 */
  .card-block {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
  /* 1:1 비율 유지 */
  .image-box,
  .text-box {
    width: 50%;
    height: 100%;
  }
  /* 짝수 역순 */
  .card-block:nth-child(even) {
    flex-direction: row-reverse;
  }
  .text-box {
    padding: 90px 40px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-box h3 {
    font-size: 3rem;
  }
  .text-box p {
    font-size: 1.8rem;
  }
  .text-box .more-btn {
    width: fit-content;
  }
  /* footer */
  .footer-icon {
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.footer-location {
  width: auto;
  flex-basis: auto;
}
.footer-icon li:not(.footer-location) a {
  margin-top: 0;
}
  .footer-copy {
  text-align: right;
}
}
