/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font test */
body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    sans-serif;
}
:root {
  --bg-color__white: #ffffff;
  --font-color__gray: #999999;
}
html {
  font-size: 70%;
}
body {
  /* 10px로 된 것에서 1.6을 곱해 16px로 만듦 */
  font-size: 1.6rem;
  /* 단위를 안 쓰고 1.4 배수 개념으로 쓰기 */
  line-height: 1.4;
  /* -2.5%인데, rem말고 em으로 잡아줘야 함. rem일 경우 적용하려는 폰트가 작으면 그만큼 값이 변해서 자간의 줄이 겹칠 수도 있음. 즉 고정 말고 유동적인 em이 적합 */
  letter-spacing: -0.025em;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.br {
  display: block;
}
#container {
  width: 100%;
  background-color: var(--bg-color__white);
}
/* swiper pagination dot */
.common-dot {
  /* 기본 swiper dot에 0.2정도로 되어있기에 opacity: 1로 해야 함. */
  opacity: 1;
  background-color: var(--font-color__gray);
  width: 10px;
  height: 10px;
  transition: 0.3s;
}
.common-dot.swiper-pagination-bullet-active {
  background-color: red;
  width: 50px;
  border-radius: 20px;
}
/* header */
header {
  width: 100%;
  /* border: 1px solid black; */
  background-color: var(--bg-color__white);
  /* height: 100px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 150px;
  height: 50px;
  /* border: 1px solid blue; */
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nav */
nav {
  /* background-color: hotpink; */
  /* margin-right에 투명한 auto 벽을 세워서 nav를 왼쪽으로 밀어냄 */
  margin-right: auto;
  margin-left: 30px;
  display: none;
}
nav ul {
  display: flex;
}
nav li {
  /* border: 1px solid black; */
  padding: 10px 20px;
}
nav li a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.all-menu {
  background-color: #fff;
  width: 300px;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  /* right: -100%; */
  transform: translateX(100%);
}
.all-menu-content {
  /* border: 1px solid red; */
  margin-top: 50px;
}
.first-menu {
  padding: 20px;
  font-weight: 600;
}
.first-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
}
.second-menu {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.second-menu a {
  font-size: 15px;
   color: #4a4a4a;
}
.second-menu.active {
}
.exit-btn {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}
.all-menu.active {
  transform: translateX(0);
}
/* trigger */
.trigger {
  width: 30px;
  height: 25px;
  /* border: 1px solid red; */
  position: relative;
  right: 20px;
  cursor: pointer;
}
.trigger span {
  width: 100%;
  background-color: #000000;
  height: 2px;
  position: absolute;
  transition: 0.3s;
}
.trigger span:first-child {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.trigger span:last-child {
  bottom: 0;
}
/* hover(active) */
.trigger:hover span:first-child {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
.trigger:hover span:nth-child(2) {
  display: none;
}
.trigger:hover span:last-child {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}
/* section */
section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 1px solid black; */
  margin-top: 100px;
}
section > div {
  margin: 0 auto;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
}

/* --------- section 1 --------- */

/* main slide */
.main-slide-container {
  width: 100%;
  /* height: 50vh; */
  height: 550px;
  /* border: 3px solid purple; */
  position: relative;
}
.main-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-slide .slide-text {
  width: 100%;
  position: absolute;
  padding: 0 10%;
  z-index: 2;
}
.slide-text h1,
.slide-text p {
  color: #ffffff;
}
.slide-text p {
  margin-top: 12px;
}
.slide-text .more-btn {
  border: 1px solid transparent;
}
.slide-img {
  width: 100%;
  height: 100%;
}
.mainSlide-dot {
  background-color: #ffffff;
}
/* dimmed */
.slide-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  z-index: 1;
  /* 더 보기 버튼이 가려지지 않게 제외 */
  pointer-events: none;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.more-btn {
  background-color: #fff;
  color: #333333;
  padding: 10px 45px;
  display: inline-flex;
  margin-top: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #333333;
}

.content-wrapper {
  width: 100%;
  /* 전체 틀을 세로 정렬 */
  /* display: flex; */
  /* flex-direction: column; */
}
.main-card {
}

.card-block {
  /* 실제 flex 역할 */
  display: flex;
  flex-direction: column;
  /* margin-bottom: 50px; */
}
.card-block .more-btn {
  /* border: 1px solid black; */
  width: 100%;
}
.card-block .more-btn span {
}
.card-block + .card-block {
  margin-top: 50px;
}
.card-block:last-child {
  /* margin-bottom: 0; */
}
.image-box {
  aspect-ratio: 1 / 1;
}
.text-box {
  padding: 30px 20px 30px 20px;
  box-sizing: border-box;
  text-align: center;
}
.image-box,
.text-box {
  /* border: 2px solid #333; */
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.text-box > div {
  /* border: 3px solid red; */
  /* background-color: red; */
  /* max-height: 200px; -> 어차피 많이 들어가지 않으니까 괜찮긴 한데... */
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-box h3 {
  margin-bottom: 10px;
  color: #333;
}
.text-box p {
  line-height: 1.6;
  color: var(--font-color__gray);
}

/* ------ section 2 ------ */

.journey {
}
.journey-wrapper {
  width: 100vw;
  height: 300px;
  position: relative;
  background-color: #f5f5f5;
  left: 50%;
  margin-left: -50vw;
}
.journey-wrapper > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.journey-wrapper .more-btn {
  border: 1px solid transparent;
}
.journey-wrapper p {
  margin-top: 12px;
  color: var(--font-color__gray);
}

/* ------- section 3 ------- */
.pick {
  background-color: var(--bg-color__white);
  width: 100%;
  overflow: hidden;
}
.pick h2 {
  text-align: center;
  /* background-color: yellow; */
}
.pick-slide-container {
  /* width: 100vw에 left -50했는데 찌그러져서 값을 2배로 늘려서 모양 잡음. */
  /* 미세 조정을 위해 calc로 px 조금 더함 */
  /* 여기서 200vw로 하면 100px만 줘도 됨. 밑 마진도 반 토막 (보정값 차이) */
  width: calc(200% + 200px);
  position: relative;
  /* 가운데 정렬된 section에서 벗어나기 (3과 동일.) */
  left: 50%;
  margin-left: calc(-100% - 100px);
}
.pick-slide-wrapper {
  margin-top: 50px;
}
.pick-slide {
  /* 단위를 %로 하면 망가짐. 반응형이니 vw로 고정해야 함. -> 부모 높이가 지정 안 되어 있음*/
  height: clamp(550px, 80vw, 600px);
  background-color: yellow;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
}
.pick-text {
  background-color: var(--bg-color__white);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.pick-text h3 {
  /* background-color: red; */
  font-weight: 500;
}
.pick-text .more-btn {
  position: absolute;
  border: 1px solid transparent;
  left: 25px;
  padding: 0;
  bottom: 30px;
}
.pick-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pick-slide div:first-child {
  background-color: mintcream;
  height: 70%;
}
.pick-slide div:last-child {
  height: 30%;
  border: 1px solid mintcream;
}
.pick-slideDot {
}
/* ------- section 4 ------ */
.brand {
}
.brand h2 {
  text-align: center;
}
.brand-slide-all {
  width: 100%;
  background-color: var(--bg-color__white);
  position: relative;
}
.brand-slide-container {
  /* 버튼의 기준을 여기 container(swiper) 말고 brand-slide-all에 주기 위해 static으로 바꿈 */
  position: static;
  width: 80%;
  /* background-color: pink; */
  margin-top: 50px;
}
.brand-slide-wrapper {
}
.brand-slide {
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  aspect-ratio: 1 / 1;
  padding: 30px;
}
.brand-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.brand-btn-prev,
.brand-btn-next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

/* ------- footer ------- */

footer {
  margin-top: 150px;
  width: 100%;
  height: 400px;
  background-color: dodgerblue;
}

/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 65%;
  }
  #container {
    /* background-color: yellow; */
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  /* --------- section 1 ---------- */
  /* main slide */
  .main-slide-container {
    /* max-height: 500px; */
  }
  /* 세로 배치 */
  .card-block {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
  /* 1:1 비율 유지 */
  .image-box,
  .text-box {
    width: 50%;
    height: 100%;
  }
  .text-box {
    padding: 50px 40px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .text-box > div {
    /* background-color: red; */
    /* height: 100%; */
    /* position: relative; */
  }
  .text-box .more-btn {
    margin-top: 30px;
    width: fit-content;
    /* position: absolute; */
    /* bottom: 0; */
  }
  .card-block:nth-child(even) {
    flex-direction: row-reverse;
  }
  /* --------- section 3 -------- */
  .pick-slide-container {
    /* width: 100vw에 left -50했는데 찌그러져서 값을 2배로 늘려서 모양 잡음. */
    /* 미세 조정을 위해 calc로 px 조금 더함 */
    /* 여기서 200vw로 하면 100px만 줘도 됨. 밑 마진도 반 토막 (보정값 차이) */
    width: calc(200% + 200px);
    position: relative;
    /* 가운데 정렬된 section에서 벗어나기 (3과 동일.) */
    left: 50%;
    margin-left: calc(-100% - 100px);
  }
  .pick-slide-wrapper {
    margin-top: 50px;
  }
  .pick-slide {
    /* 단위를 %로 하면 망가짐. 반응형이니 vw로 고정해야 함. -> 부모 높이가 지정 안 되어 있음 */
    height: clamp(600px, 70vw, 700px);
    background-color: yellow;
  }
  .pick-text h3 {
    /* font-size: 1.8rem; */
  }
}
/* pc */
@media (min-width: 1024px) {
  html {
    /* 16px * 0.625 = 10px, 기본 폰트는 16px인데 0.625면 10px이 됨. */
    font-size: 62.5%;
  }
  #container {
    width: 100%;
  }
  section {
    max-width: 1280px; /* 1280 */
    padding: 0 80px;
  }
  .more-btn span {
    font-size: 1.5rem;
  }
  header {
    height: 80px;
  }
  /* nav */
  nav {
    display: block;
  }
  /* trigger */
  .trigger {
    display: none;
  }
  .all-menu {
    width: 100%;
    height: 220px;
    top: 80px;
    right: 0;
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid #e5e5e5;
  }
  .all-menu.active {
    opacity: 1;
    pointer-events: auto;
  }
  .all-menu .exit-btn {
    display: none;
  }
  .all-menu li a {
    font-size: 18px;
    line-height: 30px;
    /* 30이 한계인데 이걸 어떻게 하지? */
  }
  .all-menu-content {
    margin-top: 0;
    height: 100%;
    /* 로고 넓이 + 30px만큼 밀어내기 */
    margin: 0 180px;
    /* background-color: red; */
  }
  .first-menu {
    display: flex;
    gap: 20px;
    text-align: center;
    /* height: 100%; */
    /* background-color: red; */
  }
  .first-menu > li > a {
    /* 전체 메뉴를 펼쳤을 때 서브만 보여야 하니 처음 메뉴는 숨겨야 함 */
    visibility: hidden;
    /* 근데 hidden만 하면 높이가 살아있으니, block화 해서 0으로 해야 li 공간은 유지하고 글자만 쏙 빠짐. */
    display: block;
    height: 0;
  }
  .all-menu-content li {
    /* background: yellow; */
    /* border: 1px solid black; */
  }
  .second-menu {
    /* 아코디언때 쓴건데 빼도 동작은 함 pc라서 */
    max-height: none;
  }
  .second-menu > li > a {
    color: #4a4a4a;
  }
  /* hover */
  /* ----------- section 1 -------- */
  /* main slide */
  .main-slide-container {
    height: 600px;
  }
  .slide-text h1 {
    font-size: 4.5rem;
  }
  .slide-text p {
    font-size: 2rem;
  }
  /* 세로 배치 */
  .card-block {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
  /* 1:1 비율 유지 */
  .image-box,
  .text-box {
    width: 50%;
    height: 100%;
  }
  /* 짝수 역순 */
  .card-block:nth-child(even) {
    flex-direction: row-reverse;
  }
  .text-box {
    padding: 90px 40px;
    text-align: left;
  }
  .text-box > div {
    /* height: 100%; */
    /* position: relative; */
  }
  .text-box h3 {
    font-size: 3rem;
  }
  .text-box p {
    font-size: 1.8rem;
  }
  .text-box .more-btn {
    width: fit-content;
    /* position: absolute;
    bottom: 0; */
  }
  /* --------- section 3 -------- */
  .pick-slide-container {
    width: 100%;
    /* 전체 컨테이너 마진과 left값 삭제 */
    margin-left: 0;
    left: auto;
  }
  .pick-slide div:first-child {
    background-color: mintcream;
    height: 60%;
  }
  .pick-slide div:last-child {
    height: 40%;
    border: 1px solid mintcream;
  }
  .pick-slide {
    /* pc에서 반응형으로 늘리거나 줄일 때 가로로만 늘어지는 걸 최대한 방지하기 위해 값을 미세하게 조정하며 바꿈 */
    height: clamp(400px, 35vw, 480px);
  }
  .pick-text h3 {
    font-size: 1.8rem;
  }
}
