#container {
  width: 100%;
  background-color: var(--bg-color__white);
}

/* section */
section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 1px solid black; */
  margin-top: 100px;
}
section > div {
  margin: 0 auto;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
}

/* --------- section 1 --------- */

/* main slide */
.main-slide-container {
  width: 100%;
  /* height: 50vh; */
  height: 550px;
  /* border: 3px solid purple; */
  position: relative;
}
.main-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-slide .slide-text {
  width: 100%;
  position: absolute;
  padding: 0 10%;
  z-index: 2;
}
.main-btn-prev,
.main-btn-next {
  color: #ffffff;
  width: 60px;
  height: 60px;
}
.main-pagination {
  transform: translateY(-8px);
}
.slide-text h1,
.slide-text p {
  color: #ffffff;
}
.slide-text p {
  margin-top: 12px;
}
.slide-text .more-btn {
  border: 1px solid transparent;
  /* left: auto;
  transform: none; */
}
.slide-img {
  width: 100%;
  height: 100%;
}
.mainSlide-dot {
  background-color: #ffffff;
}
/* dimmed */
.slide-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  z-index: 1;
  /* 더 보기 버튼이 가려지지 않게 제외 */
  pointer-events: none;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.more-btn {
  background-color: #fff;
  color: #333333;
  padding: 10px 45px;
  display: inline-flex;
  margin-top: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #3a3a3a;
}

.content-wrapper {
  width: 100%;
  /* 전체 틀을 세로 정렬 */
  /* display: flex; */
  /* flex-direction: column; */
}
.main-card {
}

/* ------ section 2 ------ */

.journey {
}
.journey-wrapper {
  width: 100vw;
  position: relative;
  background-color: #f5f5f5;
  left: 50%;
  margin-left: -50vw;
}
.journey-wrapper > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
.journey-wrapper .more-btn {
  border: 1px solid transparent;
}
.journey-wrapper p {
  margin-top: 12px;
  color: var(--font-color__gray);
}

/* ------- section 4 ------ */
.brand {
}
.brand h2 {
  text-align: center;
}
.brand-slide-all {
  width: 95%;
  background-color: var(--bg-color__white);
  position: relative;
  /* padding: 20px; */
}
.brand-slide-container {
  /* 버튼의 기준을 여기 container(swiper) 말고 brand-slide-all에 주기 위해 static으로 바꿈 */
  position: static;
  /* 양 마진을 50씩 고정(반응형 대응) */
  width: calc(95% - 100px);
  /* background-color: pink; */
  margin-top: 50px;
}
.brand-slide-wrapper {
}
.brand-slide {
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  aspect-ratio: 1 / 1;
  padding: 30px;
}
.brand-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.brand-btn-prev,
.brand-btn-next {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #000000;
}



/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  /* --------- section 1 ---------- */
  /* main slide */
  .main-slide-container {
    /* max-height: 500px; */
  }
  
  /* --------- section 3 -------- */
  
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
  }
  section {
    max-width: 1280px; /* 1280 */
    padding: 0 80px;
  }
  .more-btn span {
    font-size: 1.5rem;
  }
  
  /* hover */
  /* ----------- section 1 -------- */
  /* main slide */
  .main-slide-container {
    height: 600px;
  }
  .slide-text h1 {
    font-size: 4.5rem;
  }
  .slide-text p {
    font-size: 2rem;
  }
  
  /* --------- section 3 -------- */
  
}
