#container {
  width: 100%;
  background-color: var(--bg-color__white);
}
section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 1px solid black; */
  margin-top: 100px;
}
section > div {
  margin: 0 auto;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
  background-color: red;
  height: 600px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------- section 1 -------- */
.all-brand {
}
.all-brand-title {
  text-align: center;
  margin-bottom: 50px;
}
.all-brand-title h3 {
}
.all-brand-title span {
  color: var(--font-color__gray);
}
.brand-product-tab {
  width: 100%;
  /* background-color: pink; */
  /* display: flex; */
  margin-bottom: 50px;
}
.brand-product-tab li {
  /* flex: 1; */
  text-align: left;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  /* max 높이로 통일 */
  max-height: 0;
  opacity: 0;
  position: relative;
}
.brand-product-tab li:last-child {
  margin-bottom: 0;
}
/* li '이거 하나만' 작동 */
.brand-product-tab li.active {
  /* text-decoration: underline; */
  /* ★ max로 주어야지 그보다 높이가 작아도 딱 알맞게 컴이 계산함. (auto는 transition 안 먹힘) */
  max-height: 80px;
  opacity: 1;
  border: 1px solid #e5e5e5;
  /* height: auto; */
}
.brand-product-tab li.active a {
  color: red;
  font-weight: 500;
}
/* 작동하면 '나머지 li'를 다 이렇게 작동해 */
.brand-product-tab.active li {
  max-height: 200px;
  /* 펼쳐질 때 여백이 있어야 깔끔함 */
  /* margin-bottom: 12px; */
  opacity: 1;
}
.brand-product-tab li a {
  /* background-color: red; */
  display: block;
  padding: 10px;
  margin-left: 5px;
  transition: 0.3s;
  color: #3a3a3a;
}
/* svg */
.brand-product-tab li::after {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  /* 아이콘 출력의 표준 규격, 호환성으로 900을 사용함 */
  font-weight: 900;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000000;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.brand-product-tab li.active::after {
  opacity: 1;
  visibility: visible;
}
/* 전체 탭 */
.brand-product {
  display: grid;
  /* 각 tab 묶음이 아니라 전체 영역에 그리드-배치를 해서 1줄에 2개씩 균등하게 배치되지 않는 경우를 해결 */
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.tab {
  background-color: var(--bg-color__white);
  display: none;
}
.tab + .tab {
  margin-top: 20px;
}
.tab .item {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  /* 내부 요소 정중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}
.tab.active {
  /* 상위 전체에 grid를 주었으니 여기서 grid를 주면 또 grid에 grid가 중첩되므로 쪼그라든다. 여기서 contents를 주어야 하는데, 왜냐면 tab끼리 나눠놓은 걸 합쳤을 때 생기는 빈 공간을 빠짐없이 채워야 하기 때문 */
  display: contents;
  justify-content: center;
  align-items: center;
}

/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    height: 500px;
  }
  main img {
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  /* --- tab ---  */
  .tab {
    grid-template-columns: repeat(3, 1fr);
  }
  .brand-product-tab {
    /* display: flex; */
  }
  .brand-product-tab li {
    /* max-height: none;
    opacity: 1;
    text-align: center;
    flex: 1; */
    height: 50px;
  }
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
    /* background-color: purple; */
    border: 3px solid blue;
  }
  main {
    height: 500px;
  }
  section {
    max-width: 1280px; /* 1280 */
    padding: 0 80px;
    /* background-color: purple; */
  }
  main img {
  }
  /* --- tab --- */
  .all-brand-title h3 {
    font-size: 2.4rem;
  }
  .all-brand-title span {
    font-size: 1.8rem;
    margin-top: 1.2em;
  }
  .tab {
    grid-template-columns: repeat(3, 1fr);
  }
  .brand-product-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    border: 1px solid transparent;
  }
  .brand-product-tab li {
    max-height: none;
    opacity: 1;
    text-align: center;
    min-width: 150px;
    /* flex: 1; */
    /* height: 70px; */
    border-radius: 30px;
    padding: 0 12px;
    border: 1px solid #e5e5e5;
  }
  /* svg */
  .brand-product-tab li::after {
    display: none;
  }
  /* 전체 탭 */
  .brand-product {
    grid-template-columns: repeat(3, 1fr);
  }
}
