/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color__white: #ffffff;
  --font-color__gray: #999999;
}
body {
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
#container {
  width: 100%;
  background-color: var(--bg-color__white);
}
/* header */
header {
  width: 100%;
  border: 1px solid black;
  background-color: var(--bg-color__white);
  /* height: 100px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 150px;
  height: 50px;
  border: 1px solid blue;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nav */
nav {
  background-color: hotpink;
  /* margin-right에 투명한 auto 벽을 세워서 nav를 왼쪽으로 밀어냄 */
  margin-right: auto;
  margin-left: 30px;
  display: none;
}
nav ul {
  display: flex;
}
nav li {
  border: 1px solid black;
  padding: 10px 20px;
}
nav li a {
  text-decoration: none;
}
.all-menu {
  background-color: #fff;
  width: 300px;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  /* right: -100%; */
  transform: translateX(100%);
}
.all-menu-content {
  border: 1px solid red;
  margin-top: 50px;
}
.first-menu {
  padding: 20px;
  font-weight: 600;
}
.first-menu a {
  text-decoration: none;
  color: #000000;
}
.second-menu {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.second-menu.active {
}
.exit-btn {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}
.all-menu.active {
  transform: translateX(0);
}
/* trigger */
.trigger {
  width: 30px;
  height: 25px;
  /* border: 1px solid red; */
  position: relative;
  right: 20px;
  cursor: pointer;
}
.trigger span {
  width: 100%;
  background-color: #000000;
  height: 2px;
  position: absolute;
  transition: 0.3s;
}
.trigger span:first-child {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.trigger span:last-child {
  bottom: 0;
}
/* hover(active) */
.trigger:hover span:first-child {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
.trigger:hover span:nth-child(2) {
  display: none;
}
.trigger:hover span:last-child {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}
section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 1px solid black; */
  margin-top: 100px;
}
section > div {
  margin: 0 auto;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
  background-color: red;
  height: 600px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------- section 1 -------- */
.all-brand {
}
.brand-product-tab {
  width: 100%;
  /* background-color: pink; */
  /* display: flex; */
  margin-bottom: 50px;
}
.brand-product-tab li {
  /* flex: 1; */
  text-align: left;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  /* max 높이로 통일 */
  max-height: 0;
  opacity: 0;
  border: 1px solid #e5e5e5;
  /* border-top: 1px solid transparent; */
}
.brand-product-tab li:last-child {
  margin-bottom: 0;
}
/* li '이거 하나만' 작동 */
.brand-product-tab li.active {
  /* text-decoration: underline; */
  /* ★ max로 주어야지 그보다 높이가 작아도 딱 알맞게 컴이 계산함. (auto는 transition 안 먹힘) */
  max-height: 80px;
  opacity: 1;
  border: 1px solid #e5e5e5;
  /* height: auto; */
}
.brand-product-tab li.active a {
  color: red;
}
/* 작동하면 '나머지 li'를 다 이렇게 작동해 */
.brand-product-tab.active li {
  max-height: 200px;
  /* 펼쳐질 때 여백이 있어야 깔끔함 */
  /* margin-bottom: 12px; */
  opacity: 1;
}
.brand-product-tab li a {
  /* background-color: red; */
  display: block;
  padding: 10px;
  transition: 0.3s;
}
.tab {
  background-color: var(--bg-color__white);
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.tab + .tab {
  margin-top: 20px;
}
.tab .item {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  /* 내부 요소 정중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}
.tab.active {
  display: grid;
  justify-content: center;
  align-items: center;
}
footer {
  margin-top: 150px;
}
/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #container {
    /* background-color: yellow; */
    /* border: 3px solid green; */
  }
  main {
    height: 500px;
  }
  main img {
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  /* --- tab ---  */
  .tab {
    grid-template-columns: repeat(3, 1fr);
  }
  .brand-product-tab {
    /* display: flex; */
  }
  .brand-product-tab li {
    /* max-height: none;
    opacity: 1;
    text-align: center;
    flex: 1; */
  }
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
    /* background-color: purple; */
    border: 3px solid blue;
  }
  main {
    height: 500px;
  }
  section {
    max-width: 1440px; /* 1280 */
    padding: 0 80px;
    /* background-color: purple; */
  }
  main img {
  }
  header {
    height: 80px;
  }
  /* nav */
  nav {
    display: block;
  }
  /* trigger */
  .trigger {
    display: none;
  }
  .all-menu {
    width: 100%;
    height: 250px;
    top: 80px;
    right: 0;
    opacity: 0;
    pointer-events: none;
  }
  .all-menu.active {
    opacity: 1;
    pointer-events: auto;
  }
  .all-menu .exit-btn {
    display: none;
  }
  .all-menu-content {
    margin-top: 0;
    height: 100%;
    /* 로고 넓이 + 30px만큼 밀어내기 */
    margin: 0 180px;
  }
  .first-menu {
    display: flex;
    gap: 20px;
    text-align: center;
    height: 100%;
  }
  .all-menu-content li {
    background: yellow;
  }
  .second-menu {
    max-height: none;
  }
  /* --- tab --- */
  .tab {
    grid-template-columns: repeat(3, 1fr);
  }
  .brand-product-tab {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .brand-product-tab li {
    max-height: none;
    opacity: 1;
    text-align: center;
    flex: 1;
    /* height: 70px; */
  }
}
