/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font test */
body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    sans-serif;
}
:root {
  --bg-color__white: #ffffff;
  --font-color__gray: #999999;
}
html {
  font-size: 70%;
}
body {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -0.025em;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.br {
  display: block;
}
#container {
  width: 100%;
  background-color: var(--bg-color__white);
}

/* header */
header {
  width: 100%;
  border: 1px solid black;
  background-color: var(--bg-color__white);
  /* height: 100px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 150px;
  height: 50px;
  border: 1px solid blue;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nav */
nav {
  background-color: hotpink;
  /* margin-right에 투명한 auto 벽을 세워서 nav를 왼쪽으로 밀어냄 */
  margin-right: auto;
  margin-left: 30px;
  display: none;
}
nav ul {
  display: flex;
}
nav li {
  border: 1px solid black;
  padding: 10px 20px;
}
nav li a {
  text-decoration: none;
}
.all-menu {
  background-color: #fff;
  width: 300px;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  /* right: -100%; */
  transform: translateX(100%);
}
.all-menu-content {
  border: 1px solid red;
  margin-top: 50px;
}
.first-menu {
  padding: 20px;
  font-weight: 600;
}
.first-menu a {
  text-decoration: none;
  color: #000000;
}
.second-menu {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.second-menu.active {
}
.exit-btn {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}
.all-menu.active {
  transform: translateX(0);
}
/* trigger */
.trigger {
  width: 30px;
  height: 25px;
  /* border: 1px solid red; */
  position: relative;
  right: 20px;
  cursor: pointer;
}
.trigger span {
  width: 100%;
  background-color: #000000;
  height: 2px;
  position: absolute;
  transition: 0.3s;
}
.trigger span:first-child {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.trigger span:last-child {
  bottom: 0;
}
/* hover(active) */
.trigger:hover span:first-child {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
.trigger:hover span:nth-child(2) {
  display: none;
}
.trigger:hover span:last-child {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}
section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 100px;
}
section > div {
  margin: 0 auto;
}
.more-btn {
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  display: inline-flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
  /* background-color: red; */
  height: 600px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---- section 1 ----- */
.company-title {
  text-align: center;
  background-color: #fff;
  padding: 20px;
}
.company-title h2 {
}
.company-title p {
  margin-top: 20px;
  text-align: left;
  color: #767676;
  line-height: 1.7;
}
.company-title .br {
  margin-top: 1.2em;
}
.company-card {
  margin-top: 100px;
}
.company-card .more-btn {
  border: 1px solid #3a3a3a;
  border-radius: 30px;
  width: 100%;
}
.card {
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  /* text-align: center; */
}
.card + .card {
  margin-top: 50px;
}
.card .image-box {
  aspect-ratio: 1 / 1;
  border: 1px solid red;
}
.card .text-box {
  padding: 30px 20px 30px 20px;
  box-sizing: border-box;
  height: clamp(100px, 25vw, 200px);
  overflow: hidden;
  position: relative;
  text-align: center;
  min-height: 225px;
  background-color: var(--bg-color__white);
}
.text-box p {
  color: var(--font-color__gray);
  margin-top: 1.2rem;
}
.text-box h3 {
  font-weight: 600;
}
.text-box .more-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ----- section 2----- */
.special {
  /* 전체는 40 마진이고 이 영역은 80 마진 */
  width: calc(100% - 80px);
  /* background-color: pink; */
  /* 원래 있던 container의 0 20px을 지우고 양 마진 40만 주기 위해서 */
  padding: 0;
}
.special-title h3 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.4rem;
}
.special .card {
  width: 100%;
}
.special .more-btn {
  /* background-color: red; */
  width: fit-content;
  gap: 5px;
}
.special .more-btn svg {
  /* 꼭 넓이 높이 해줘야 모바일에서 svg를 포함한 버튼을 100%로 늘릴 때 같이 늘어나지 않음. */
  width: 15px;
  height: 15px;
}
/* ----- footer ---- */
footer {
  margin-top: 150px;
  width: 100%;
  height: 400px;
  background-color: lavender;
}

/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 65%;
  }
  #container {
    /* background-color: yellow; */
    border: 3px solid green;
  }
  main {
    height: 500px;
  }
  main img {
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  /* ---- section 1 ---- */
  .company-title {
    display: flex;
    gap: 50px;
  }
  .company-title h2 {
    padding: 30px 0;
  }
  .company-title p {
    text-align: left;
    margin-top: 0;
    padding: 30px 0;
  }
  .company-title p .br {
    margin-top: 1.2em;
  }
  /* 세로에서 간격을 띄운 걸 가로로 배치하였으니 간격을 초기화 시켜야 레이아웃이 망가지지 않음. */
  .card + .card {
    margin-top: 0;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 100%;
  }
  .card .text-box {
    min-height: 230px;
  }
  /* ----- section 2 ----- */
  .special {
    /* 전체 80 마진일 때 이 요소는 160 */
    width: calc(100% - 160px);
    max-width: 800px;
    /* ★ padding: 0 필수 */
    padding: 0;
  }
}
/* pc */
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
  #container {
    width: 100%;
    /* background-color: purple; */
    border: 3px solid blue;
  }
  main {
    height: 500px;
  }
  section {
    max-width: 1280px; /* 1280 */
    padding: 0 80px;
    /* background-color: purple; */
  }
  main img {
  }
  header {
    height: 80px;
  }
  /* nav */
  nav {
    display: block;
  }
  /* trigger */
  .trigger {
    display: none;
  }
  .all-menu {
    width: 100%;
    height: 250px;
    top: 80px;
    right: 0;
    opacity: 0;
    pointer-events: none;
  }
  .all-menu.active {
    opacity: 1;
    pointer-events: auto;
  }
  .all-menu .exit-btn {
    display: none;
  }
  .all-menu-content {
    margin-top: 0;
    height: 100%;
    /* 로고 넓이 + 30px만큼 밀어내기 */
    margin: 0 180px;
  }
  .first-menu {
    display: flex;
    gap: 20px;
    text-align: center;
    height: 100%;
  }
  .all-menu-content li {
    background: yellow;
  }
  .second-menu {
    max-height: none;
  }
  /* ---- section 1 ---- */
  .company-title {
    display: flex;
    gap: 50px;
  }
  .company-title h2 {
    /* border: 1px solid blue; */
    padding: 30px 0;
    text-align: left;
    font-size: 2.4rem;
  }
  .company-title p {
    text-align: left;
    /* border: 1px solid orange; */
    margin-top: 0;
    padding: 30px 0;
  }
  .company-title p .br {
    margin-top: 1.2em;
  }

  .card + .card {
    margin-top: 0;
  }
  .card-wrapper {
    display: flex;
    gap: 20px;
  }
  .card {
    width: 50%;
  }
  .company-card .text-box {
    min-height: 230px;
  }
  .company-card .text-box h3 {
    font-size: 2.2rem;
    /* background-color: red; */
    font-weight: 600;
  }
  .company-card .more-btn {
    width: 120px;
  }
  .company-card .text-box p {
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }
  /* ----- section 2 ----- */
  .special {
    /* 전체 160 마진일 때 이 요소는 320 */
    width: calc(100% - 320px);
    max-width: 1040px;
    min-width: 750px;
    padding: 0;
  }
  .special .text-box {
    text-align: left;
    min-height: 220px;
    position: relative;
    /* background-color: purple; */
  }
  .special .text-box h3 {
    font-weight: 600;
    font-size: 1.8rem;
  }
  .special .text-box p {
    margin-top: 1.2rem;
    font-size: 1.6rem;
  }
  .special .more-btn {
    /* background-color: red; */
    position: absolute;
    /* 기존 가운데로 잡아놓은 거 초기화할 것 */
    left: auto;
    transform: none;
    right: 20px;
    bottom: 20px;
    width: fit-content;
    gap: 5px;
  }
  .special .more-btn svg {
    width: 15px;
    height: 15px;
  }
}
