#container {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color__white);
}

section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 100px;
}
section > div {
  margin: 0 auto;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
  /* background-color: red; */
  height: 600px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---- section 1 ----- */
.card {
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  /* text-align: center; */
}
.card + .card {
  margin-top: 50px;
}
.card .image-box__a {
  aspect-ratio: 1 / 1;
  border: 1px solid red;
}
.text-box__a p {
  color: var(--font-color__gray);
  margin-top: 1.2rem;
}
.text-box__a h3 {
  font-weight: 600;
}
.text-box__a .more-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* company */
.company-title {
  text-align: center;
  background-color: #fff;
  padding: 20px;
}
.company-card {
  margin-top: 100px;
}
.company-title h2 {
}
.company-title p {
  margin-top: 20px;
  text-align: left;
  color: #767676;
  line-height: 1.7;
}
.company-title .br {
  margin-top: 1.2em;
}
.company-card .more-btn,
.special .more-btn {
  border: 1px solid #3a3a3a;
  border-radius: 30px;
  margin-bottom: 15px;
  width: calc(100% - 40px);
}
.special .more-btn {
  border: 1px solid transparent;
  /* background-color: red; */
}

.company-card .text-box__a,
.special .text-box__a {
  padding: 30px 20px 120px 20px;
  box-sizing: border-box;
  min-height: clamp(100px, 25vw, 200px);
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  /* min-height: 280px; */
  background-color: var(--bg-color__white); 
}
.special .text-box__a {
  padding: 30px 20px 100px 20px;
}

/* ----- section 2----- */
.special {
  /* 전체는 40 마진이고 이 영역은 80 마진 */
  width: calc(100% - 80px);
  /* background-color: pink; */
  /* 원래 있던 container의 0 20px을 지우고 양 마진 40만 주기 위해서 */
  /* padding: 0; */
}
.special-title h3 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.4rem;
}
.special .card {
  width: 100%;
}
.special .more-btn svg {
  /* 꼭 넓이 높이 해줘야 모바일에서 svg를 포함한 버튼을 100%로 늘릴 때 같이 늘어나지 않음. */
  width: 15px;
  height: 15px;
}
.special .text-box__a {
  height: auto;
}


/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #container {
  }
  main {
    height: 500px;
  }
  main img {
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  /* ---- section 1 ---- */
  .company-title {
    display: flex;
    gap: 50px;
  }
  .company-title h2 {
    padding: 30px 0;
  }
  .company-title p {
    text-align: left;
    margin-top: 0;
    padding: 30px 0;
  }
  .company-title p .br {
    margin-top: 1.2em;
  }
  /* 세로에서 간격을 띄운 걸 가로로 배치하였으니 간격을 초기화 시켜야 레이아웃이 망가지지 않음. */
  .card + .card {
    margin-top: 0;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 100%;
  }
  .card .text-box__a {
    min-height: 230px;
  }
  /* ----- section 2 ----- */
  .special {
    /* 전체 80 마진일 때 이 요소는 160 */
    width: calc(100% - 160px);
    max-width: 800px;
    /* ★ padding: 0 필수 */
    padding: 0;
  }
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
    /* background-color: purple; */

  }
  main {
    height: 500px;
  }
  section {
    max-width: 1280px; /* 1280 */
    padding: 0 80px;
    /* background-color: purple; */
  }
  main img {
  }
  /* ---- section 1 ---- */
  .company-title {
    display: flex;
    gap: 50px;
  }
  .company-title h2 {
    /* border: 1px solid blue; */
    padding: 30px 0;
    text-align: left;
    font-size: 2.4rem;
  }
  .company-title p {
    text-align: left;
    /* border: 1px solid orange; */
    margin-top: 0;
    padding: 30px 0;
  }
  .company-title p .br {
    margin-top: 1.2em;
  }

  .card + .card {
    margin-top: 0;
  }
  .card-wrapper {
    display: flex;
    gap: 20px;
  }
  .card {
    width: 50%;
  }
  .company-card .text-box__a {
    min-height: 230px;
  }
  .company-card .text-box__a h3 {
    font-size: 2.2rem;
    /* background-color: red; */
    font-weight: 600;
  }
  .company-card .more-btn {
    width: fit-content;
  }
  .company-card .text-box__a p {
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }
  /* ----- section 2 ----- */
  .special {
    /* 전체 160 마진일 때 이 요소는 320 */
    width: calc(100% - 320px);
    max-width: 1040px;
    min-width: 750px;
    padding: 0;
  }
  .special .text-box__a {
    text-align: left;
    min-height: 220px;
    position: relative;
    /* background-color: purple; */
  }
  .special .text-box__a h3 {
    font-weight: 600;
    font-size: 1.8rem;
  }
  .special .text-box__a p {
    margin-top: 1.2rem;
    font-size: 1.6rem;
  }
  .special .more-btn {
    position: absolute;
    /* 기존 가운데로 잡아놓은 거 초기화할 것 */
    left: auto;
    transform: none;
    right: 20px;
    bottom: 20px;
    width: fit-content;
    gap: 5px;
    /* 원래는 10, 45였음 */
    padding: 0;
  }
  .special .more-btn svg {
    width: 15px;
    height: 15px;
  }
}
