/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color__white: #ffffff;
}
body {
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#container {
  width: 100%;
  background-color: var(--bg-color__white);
}
/* header */
header {
  width: 100%;
  border: 1px solid black;
  background-color: var(--bg-color__white);
  /* height: 100px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 150px;
  height: 50px;
  border: 1px solid blue;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nav */
nav {
  background-color: hotpink;
  /* margin-right에 투명한 auto 벽을 세워서 nav를 왼쪽으로 밀어냄 */
  margin-right: auto;
  margin-left: 30px;
  display: none;
}
nav ul {
  display: flex;
}
nav li {
  border: 1px solid black;
  padding: 10px 20px;
}
nav li a {
  text-decoration: none;
}
.all-menu {
  background-color: #fff;
  width: 300px;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  /* right: -100%; */
  transform: translateX(100%);
}
.all-menu-content {
  border: 1px solid red;
  margin-top: 50px;
}
.first-menu {
  padding: 20px;
  font-weight: 600;
}
.first-menu a {
  text-decoration: none;
  color: #000000;
}
.second-menu {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.second-menu.active {
}
.exit-btn {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}
.all-menu.active {
  transform: translateX(0);
}
/* trigger */
.trigger {
  width: 30px;
  height: 25px;
  /* border: 1px solid red; */
  position: relative;
  right: 20px;
  cursor: pointer;
}
.trigger span {
  width: 100%;
  background-color: #000000;
  height: 2px;
  position: absolute;
  transition: 0.3s;
}
.trigger span:first-child {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.trigger span:last-child {
  bottom: 0;
}
/* hover(active) */
.trigger:hover span:first-child {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
.trigger:hover span:nth-child(2) {
  display: none;
}
.trigger:hover span:last-child {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}
section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid black;
  margin-top: 100px;
}
section > div {
  margin: 0 auto;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
  background-color: red;
  height: 600px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------ section 1 ------  */

.brand2-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.image-box,
.text-box {
  flex: 1;
}
.image-box {
  aspect-ratio: 1 / 1;
}
.text-box {
  background-color: mediumspringgreen;
  height: auto;
  padding: 30px 20px 30px 20px;
  min-height: 200px;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: contents;
}
.brand2-slide-container {
  position: static;
}
.brand2-slide-all {
  position: relative;
  background-color: pink;
  padding-bottom: 40px;
}
.brand2-pagination {
  background-color: yellow;
}

/* ------ section 2 ----- */

.recommend {
  background-color: pink;
  width: 100%;
  overflow: hidden;
}
.recommend h2 {
  text-align: center;
  /* background-color: yellow; */
}
.reco-slide-container {
  /* width: 100vw에 left -50했는데 찌그러져서 값을 2배로 늘려서 모양 잡음. */
  /* 미세 조정을 위해 calc로 px 조금 더함 */
  /* 여기서 200vw로 하면 100px만 줘도 됨. 밑 마진도 반 토막 (보정값 차이) */
  width: calc(200% + 200px);
  position: relative;
  left: 50%;
  margin-left: calc(-100% - 100px);
}
.reco-slide-wrapper {
  margin-top: 50px;
}
.reco-slide {
  /* 단위를 %로 하면 망가짐. 반응형이니 vw로 고정해야 함. -> 부모 높이가 지정 안 되어 있음*/
  height: clamp(500px, 80vw, 600px);
  background-color: yellow;
}
.reco-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reco-slide div:first-child {
  background-color: mintcream;
  height: 70%;
}
.reco-slide div:last-child {
  height: 30%;
  border: 1px solid mintcream;
}

/* -------- section 3 -------- */
.more-content {
  
}
.item {
  display: flex;
  width: 100%;
  border: 1px solid black;
  aspect-ratio: 3 / 1;
}
.item + .item {
  margin-top: 20px;
}
/* 안에 들어간 이미지 크기로 인해 높이가 달라지는 걸 방지 */
.more-image-box,
.more-text-box {
  height: 100%;
}
.more-image-box {
  aspect-ratio: 1 / 1;
  background-color: magenta;
}
.more-text-box {
  background-color: red;
  flex: 1;
}
/* ------- footer -------- */
footer {
  margin-top: 150px;
  background-color: blue;
}

/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #container {
    background-color: yellow;
    border: 3px solid green;
  }
  main {
    height: 500px;
  }
  main img {
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  
  /* -------- section 1 -------- */
  .brand2-slide {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
  .image-box,
  .text-box {
    width: 50%;
  }
  .image-box img {}
  /* --------- section 2 -------- */
  .reco-slide-container {
    /* width: 100vw에 left -50했는데 찌그러져서 값을 2배로 늘려서 모양 잡음. */
    /* 미세 조정을 위해 calc로 px 조금 더함 */
    /* 여기서 200vw로 하면 100px만 줘도 됨. 밑 마진도 반 토막 (보정값 차이) */
    width: calc(200% + 200px);
    position: relative;
    /* 가운데 정렬된 section에서 벗어나기 (3과 동일.) */
    left: 50%;
    margin-left: calc(-100% - 100px);
  }
  .reco-slide-wrapper {
    margin-top: 50px;
  }
  .reco-slide {
    /* 단위를 %로 하면 망가짐. 반응형이니 vw로 고정해야 함. -> 부모 높이가 지정 안 되어 있음 */
    height: clamp(600px, 70vw, 700px);
    background-color: yellow;
  }
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
    background-color: purple;
    border: 3px solid blue;
  }
  main {
    height: 500px;
  }
  section {
    max-width: 1280px; /* 1280 */
    padding: 0 80px;
    background-color: purple;
  }
  main img {
  }
  header {
    height: 80px;
  }
  /* nav */
  nav {
    display: block;
  }
  /* trigger */
  .trigger {
    display: none;
  }
  .all-menu {
    width: 100%;
    height: 250px;
    top: 80px;
    right: 0;
    opacity: 0;
    pointer-events: none;
  }
  .all-menu.active {
    opacity: 1;
    pointer-events: auto;
  }
  .all-menu .exit-btn {
    display: none;
  }
  .all-menu-content {
    margin-top: 0;
    height: 100%;
    /* 로고 넓이 + 30px만큼 밀어내기 */
    margin: 0 180px;
  }
  .first-menu {
    display: flex;
    gap: 20px;
    text-align: center;
    height: 100%;
  }
  .all-menu-content li {
    background: yellow;
  }
  .second-menu {
    max-height: none;
  }
  /* -------- section 1 -------- */
  .brand2-slide {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
  .image-box,
  .text-box {
    width: 50%;
  }
  .image-box img {
    
  }
  /* --------- section 2 -------- */
  .reco-slide-container {
    width: 100%;
    /* 전체 컨테이너 마진과 left값 삭제 */
    margin-left: 0;
    left: auto;
  }
  .reco-slide div:first-child {
    background-color: mintcream;
    height: 65%;
  }
  .reco-slide div:last-child {
    height: 35%;
    border: 1px solid mintcream;
  }
  .reco-slide {
    /* pc에서 반응형으로 늘리거나 줄일 때 가로로만 늘어지는 걸 최대한 방지하기 위해 값을 미세하게 조정하며 바꿈 */
    height: clamp(370px, 35vw, 520px);
  }

  /* ------------- section 3 ---------- */
  .more-content .item {
    max-height: 300px;
  }
}
