/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
}
body {
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#container {
  width: 100%;
  background-color: blue;
}
header {
  width: 100%;
  border: 1px solid black;
  background-color: yellow;
  height: 100px;
}
section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid black;
  margin-top: 100px;
}
section:last-child {
  margin-top: 0;
}
section > div {
  margin: 0 auto;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
  background-color: red;
  height: 600px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------ section 1 ------  */

.brand2-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.image-box,
.text-box {
  flex: 1;
}
.image-box {
}
.text-box {
  background-color: mediumspringgreen;
  height: auto;
  padding: 30px 20px 30px 20px;
  min-height: 200px;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand2-slide-container {
  position: static;
}
.brand2-slide-all {
  position: relative;
  background-color: pink;
  padding-bottom: 40px;
}
.brand2-pagination {
  background-color: yellow;
}

/* ------ section 2 ----- */

.recommend {
  background-color: pink;
  width: 100%;
  overflow: hidden;
}
.recommend h2 {
  text-align: center;
  /* background-color: yellow; */
}
.reco-slide-container {
  /* width: 100vw에 left -50했는데 찌그러져서 값을 2배로 늘려서 모양 잡음. */
  /* 미세 조정을 위해 calc로 px 조금 더함 */
  /* 여기서 200vw로 하면 100px만 줘도 됨. 밑 마진도 반 토막 (보정값 차이) */
  width: calc(200% + 200px);
  position: relative;
  /* 가운데 정렬된 section에서 벗어나기 (3과 동일.) */
  left: 50%;
  margin-left: calc(-100% - 100px);
}
.reco-slide-wrapper {
  margin-top: 50px;
}
.reco-slide {
  /* 단위를 %로 하면 망가짐. 반응형이니 vw로 고정해야 함. -> 부모 높이가 지정 안 되어 있음*/
  height: clamp(500px, 80vw, 600px);
  background-color: yellow;
}
.reco-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reco-slide div:first-child {
  background-color: mintcream;
  height: 70%;
}
.reco-slide div:last-child {
  height: 30%;
  border: 1px solid mintcream;
}

/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #container {
    background-color: yellow;
    border: 3px solid green;
  }
  main {
    height: 500px;
  }
  main img {
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  /* -------- section 1 -------- */
  .brand2-slide {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
  .image-box,
  .text-box {
    height: 100%;
  }
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
    background-color: purple;
    border: 3px solid blue;
  }
  main {
    height: 500px;
  }
  section {
    max-width: 1440px; /* 1280 */
    padding: 0 80px;
    background-color: purple;
  }
  main img {
  }
  /* -------- section 1 -------- */
  .brand2-slide {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
  .image-box {
    height: 100%;
  }
}
