#container {
  position: relative;
}

/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
  height: 600px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------ section 1 ------- */
.intro {
  text-align: center;
}
.intro p {
  color: var(--font-color__gray);
}
.move-btn {
  margin-top: 30px;
}
.move-btn ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.move-btn li {
  border: 1px solid var(--border-color__gray);
  border-radius: 40px;
  padding: 8px 40px;
  transition: 0.3s;
}
/* hover */
.move-btn li:hover {
  background-color: var(--active-color__gray);
  border: 1px solid var(--border-color__white);
}
.move-btn li a {
  text-decoration: none;
  color: var(--font-color__black);
  display: block;
  width: 100%;
  background-color: red;
}

/* --- slide --- */

/* ------------- section 3 -------------- */
.water {
  width: 100%;
}
.water .aws {
  margin-top: 50px;
  background-color: var(--bg-color__sub);
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  padding: 40px;
  text-align: center;
}
.aws h2 {
  font-size: 2.2rem;
}
.aws p {
  margin-top: 1.2rem;
  color: var(--font-color__gray);
}
.aws .more-btn {
  border: 1px solid transparent;
}
/* ------------- section 4 ---------- */
.comm-content-wrapper {
  margin-top: 50px;
}

/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    height: 500px;
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  .move-btn ul {
    flex-direction: row;
  }
  /* --------- section 1: slide -------- */
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
  }
  main {
    height: 500px;
  }
  section {
    max-width: 1280px; /* 1280 */
    padding: 0 80px;
  }

  /* ----------- section 1 -------- */
  .intro p {
    margin-top: 0.8em;
  }
  /* 짝수 역순 -> water 말고 구조화로 쓸 수 있다면 바꿔볼 것 */
  .water .card-block {
    flex-direction: row-reverse;
  }
  .move-btn ul {
    flex-direction: row;
  }
  /* --------- section 1: slide -------- */
}
