#container {
  width: 100%;
  background-color: var(--bg-color__white);
  position: relative;
}
section {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 100px;
}
section > div {
  margin: 0 auto;
}
/* 모바일 기본 스타일 */

/* ---------- main -------- */
main {
  width: 100%;
  background-color: red;
  height: 600px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------ section 1 ------- */
.intro {
  text-align: center;
}
.intro p {
  color: var(--font-color__gray);
}
.move-btn {
  margin-top: 30px;
}
.move-btn ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.move-btn li {
  border: 1px solid #3a3a3a;
  border-radius: 40px;
  padding: 8px 40px;
  transition: 0.3s;
}
/* hover */
.move-btn li:hover {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.move-btn li a {
  text-decoration: none;
  color: black;
}

.card-block {
  /* 실제 flex 역할 */
  display: flex;
  flex-direction: column;
}
.card-block + .card-block {
  margin-top: 50px;
}
.image-box {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.text-box {
  padding: 30px 20px 30px 20px;
  box-sizing: border-box;
  text-align: center;
}
.image-box,
.text-box {
  background-color: white;
  width: 100%;
  border-radius: 20px;
}
.text-box > div {
  /* border: 3px solid red; */
  /* max-height: 200px; */
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-box h3 {
  margin-bottom: 10px;
}
.text-box p {
  line-height: 1.6;
  color: var(--font-color__gray);
}

/* --- slide --- */


/* ------------- section 3 -------------- */
.water {
  width: 100%;
  /* text-align: center; */
}
.water .aws {
  margin-top: 50px;
  background-color: #f5f5f5;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  padding: 40px;
  text-align: center;
}
.aws h2 {
  font-size: 2.2rem;
}
.aws p {
  margin-top: 1.2rem;
  color: var(--font-color__gray);
}
.aws .more-btn {
  border: 1px solid transparent;
}
/* ------------- section 4 ---------- */
.comm-content-wrapper {
  margin-top: 50px;
}
/* ---- footer ---- */
footer {
  margin-top: 150px;
  background-color: blueviolet;
}

/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #container {
  }
  main {
    height: 500px;
  }
  main img {
  }
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
  /* ----------- section 1 -------- */
  /* 세로 배치 */
  .card-block {
    flex-direction: column;
  }
  /* 1:1 비율 유지 -> 모바일처럼 바꿈 100% */
  .image-box,
  .text-box {
    width: 100%;
  }
  .text-box {
    text-align: center;
  }
  .text-box .more-btn {
    /* width: 100%; */
  }
  /* --------- section 1: slide -------- */
  
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
  }
  main {
    height: 500px;
  }
  section {
    max-width: 1280px; /* 1280 */
    padding: 0 80px;
  }
  
  /* ----------- section 1 -------- */
  .intro p {
    margin-top: 0.8em;
  }
  /* 세로 배치 */
  .card-block {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
   /* 짝수 역순 -> water 말고 구조화로 쓸 수 있다면 바꿔볼 것 */
  .water .card-block {
    flex-direction: row-reverse;
  }
  /* 1:1 비율 유지 */
  .image-box,
  .text-box {
    width: 50%;
    height: 100%;
  }
  .text-box {
    padding: 50px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .text-box h3 {
    font-size: 3rem;
  }
  .text-box p {
    font-size: 1.8rem;
  }
  .more-btn {
    width: fit-content;
  }
  /* --------- section 1: slide -------- */
  
}
