/* swiper pagination dot */
.common-dot {
  /* 기본 swiper dot에 0.2정도로 되어있기에 opacity: 1로 해야 함. */
  opacity: 1;
  background-color: var(--font-color__gray);
  width: 10px;
  height: 10px;
  transition: 0.3s;
}
.common-dot.swiper-pagination-bullet-active {
  background-color: red;
  width: 50px;
  border-radius: 20px;
}

/* --- */

.pick {
  background-color: var(--bg-color__white);
  width: 100%;
  overflow: hidden;
}
.pick h2 {
  text-align: center;
}

/* --------------------- swiper slide 공통 ---------------------- */

/**
 * 공통 스와이퍼
 * @param {string} name - 각 슬라이더의 고유 이름 (예: pick, reco)
 * * [구조 매칭 가이드]
 * - .c-slide__container = .${name}-slide-container (swiper-slide-container)
 * - .c-slide            = .${name}-slide (swiper-slide)
 * - .c-slide__text      = .${name}-text
 * - .c-slide__image     = .${name}-image
 */
.c-slide__container {
  width: calc(200% + 200px);
  position: relative;
  left: 50%;
  margin-left: calc(-100% - 100px);
  margin-top: 50px;
  padding-bottom: 50px;
}

.c-slide {
  height: clamp(450px, 80vw, 600px);
  background-color: var(--bg-color__white);
  border: 1px solid var(--border-color__white);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.c-slide__text {
  padding: 20px;
  box-sizing: border-box;
  /* position: relative; */
  /* min-height: 300px; */
}
.c-slide__text h3 {
  font-weight: 500;
}
.c-slide__text p {
  color: var(--font-color__gray);
}
.c-slide .more-btn {
  position: static;
  border: 1px solid transparent;
  right: 25px;
  padding: 0;
  bottom: 30px;
  gap: 5px;
  background-color: red;
}
.more-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  /* background-color: red; */
}
.c-slide__text .more-btn svg {
  width: 15px;
  height: 15px;
}
.c-slide img {
  width: 100%;
  height: 100%;
}
.c-slide__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-slide div:first-child {
  height: 60%;
}
.c-slide div:last-child {
  height: 40%;
}
.pick-pagination {
}

/* ---------- 미디어 쿼리 ---------- */
@media (min-width: 768px) and (max-width: 1023px) {
  .c-slide__container {
    width: calc(200% + 200px);
    position: relative;
    left: 50%;
    margin-left: calc(-100% - 100px);
  }
  .c-slide-wrapper {
  }
  .c-slide {
    height: clamp(600px, 70vw, 700px);
  }
}
/* pc */
@media (min-width: 1024px) {
  /* --------- section 3 -------- */
  .c-slide__container {
    width: 100%;
    margin-left: 0;
    left: auto;
  }
  .c-slide div:first-child {
    height: 60%;
  }
  .c-slide div:last-child {
    height: 40%;
  }
  .c-slide {
    height: clamp(400px, 35vw, 480px);
  }
  .c-slide__text h3 {
    font-size: 1.8rem;
  }
}
