/* 모바일 기본 스타일 */

/* --- section 1 --- */
.brandAll-title {
  text-align: center;
  margin-bottom: 50px;
  p {
    color: var(--font-color__gray);
  }
  /* pc */
  @media (min-width: 1024px) {
    h3 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.8rem;
      margin-top: 0.2em;
    }
  }
}
.brand-tab-menu {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--border-color__white);
    z-index: 10;
    pointer-events: none;
    @media (min-width: 1024px) {
      border: none;
    }
  }
  &.active {
    li {
      max-height: 200px;
      opacity: 1;
    }
  }
  li {
    text-align: left;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
    position: relative;
    &:not(.active) {
      background-color: #fafafa;
      @media (min-width: 1024px) {
        background-color: var(--bg-color__white);
      }
    }
    /* tablet */
    @media (min-width: 768px) and (max-width: 1023px) {
      height: 50px;
    }
    /* pc */
    @media (min-width: 1024px) {
      max-height: none;
      opacity: 1;
      text-align: center;
      min-width: 150px;
      border-radius: 30px;
      padding: 0 12px;
      border: 1px solid var(--border-color__white);
    }
    a {
      display: block;
      padding: 10px;
      margin-left: 5px;
      transition: 0.3s;
      color: var(--border-color__gray);
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
      max-height: 80px;
      opacity: 1;
      border: 1px solid var(--border-color__white);
      a {
        color: var(--active-color__red);
        font-weight: 500;
      }
      /* svg */
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background: url("#{$img-path}/more-arrow.png") no-repeat center center /
        contain;
      width: 20px;
      height: 20px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;

      /* pc */
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
  /* pc */
  @media (min-width: 1024px) {
    @include flex-center;
    gap: 15px;
    flex-wrap: wrap;
    border: 1px solid transparent;
  }
}
/* tab */
.brand-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* pc */
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.brand-tab {
  background-color: var(--bg-color__white);
  display: none;
  & + & {
    margin-top: 20px;
  }
  &.active {
    display: contents;
  }
  .item {
    @include flex-center;
    border: 1px solid var(--border-color__white);
    background-color: var(--bg-color__white);
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
  /* pc */
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
