/* 모바일 기본 스타일 */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* common */
.feature-inner,
.visual-slide,
.promo-story-inner {
  .more-btn {
    margin-top: 1.2em;
  }
}
.visual-text,
.promo-story-inner {
  .more-btn {
    border: 1px solid transparent;
  }
}
.more-btn span {
  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}
/* --- main --- */
/* main slide(visual) */
.visual-slide-container {
  width: 100%;
  height: 550px;
  position: relative;

  @media (min-width: 1024px) {
    height: 600px;
  }
  .visual-slide {
    position: relative;
    @include flex-center;
  }
  .visual-text {
    width: 100%;
    position: absolute;
    padding: 0 10%;
    z-index: 100;
    color: var(--font-color__white);
    h1 {
      font-size: 3.5rem;
      @media (min-width: 1024px) {
        font-size: 4.5rem;
      }
    }
    p {
      margin-top: 0.3em;
      @media (min-width: 1024px) {
        font-size: 2rem;
        margin-top: 0.2em;
      }
    }
    .more-btn {
      @media (min-width: 1024px) {
        margin-top: 1.5em;
        font-size: 1.5rem;
      }
    }
  }
}
.visual-image {
  width: 100%;
  height: 100%;
  position: relative;
  /* dimmed */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      transparent 100%
    );
    z-index: 1;
    /* 더 보기 버튼이 가려지지 않게 제외 */
    pointer-events: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.visual-btn-prev,
.visual-btn-next {
  display: none;
  @media (min-width: 1024px) {
    color: var(--font-color__white);
    width: 60px;
    height: 60px;
    z-index: 10;
    display: block;
  }
}
.visual-btn-prev {
  @media (min-width: 1024px) {
    left: 20px;
  }
}
.visual-btn-next {
  @media (min-width: 1024px) {
    right: 20px;
  }
}
.visual-pagination {
  transform: translateY(-8px);
}
.mainSlide-dot {
  background-color: var(--bg-color__white);
}

/* --- section 1 --- */
.feature-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* --- section 2 --- */
.promo-story-inner {
  width: 100vw;
  position: relative;
  background-color: var(--bg-color__sub);
  left: 50%;
  margin-left: -50vw;
  & > div {
    @include flex-center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
  }
  p {
    margin-top: 0.6em;
    color: var(--font-color__gray);
  }
}
/* --- section 4 --- */
.brandList {
  h2 {
    text-align: center;
  }
  &-slide-area {
    width: 95%;
    background-color: var(--bg-color__white);
    position: relative;
  }
  &-slide-container {
    position: static;
    width: calc(95% - 100px);
    margin-top: 50px;
  }
  &-slide {
    @include flex-center;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--bg-color__white);
    border: 1px solid var(--border-color__white);
    aspect-ratio: 1 / 1;
    a {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: block;
      box-sizing: border-box;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-btn-prev,
  &-btn-next {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--bg-color__white);
    color: var(--font-color__black);
  }
}
/* ===== media query ===== */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  section {
    padding: 0 40px;
    max-width: 1023px;
  }
}
/* pc */
@media (min-width: 1024px) {
  #container {
    width: 100%;
  }
  section {
    max-width: 1280px;
    padding: 0 80px;
  }
}
