/* 모바일 기본 스타일 */

/* --- section 1 ---  */
.story-intro__title {
  text-align: center;
  margin-bottom: 50px;
  h2 {
    font-size: 2.4rem;
    /* pc */
    @media (min-width: 1024px) {
      font-size: 2.4rem;
    }
  }
  p {
    color: var(--font-color__gray);
    margin-top: 0.2em;
    font-size: 1.8rem;
  }
  span {
    /* pc */
    @media (min-width: 1024px) {
      font-size: 1.8rem;
    }
  }
}
.story-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color__white);
  position: relative;
  &-container {
    position: relative;
    .swiper-pagination-current {
      /* pc */
      @media (min-width: 1024px) {
        color: var(--active-color__red);
        font-weight: 600;
      }
    }
    /* pagination */
    .story-pagination {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      bottom: auto;
      /* ★ top과 height에 쓰는 %는 부모 요소의 높이를 기준으로 계산하는데, 
        margin/padding은 부모 요소의 '너비'를 기준으로 계산함.
        이미지 영역에 페이지네이션을 배치할 건데, 이미지가 1 / 1 이므로 margin으로 100%를 주면 이미지의 맨 밑에 붙게 됨. 이 상태에서 calc로 살짝 올리면 fluid 반응형에서도 위치가 고정된다. (40px로 살짝 조정) */
      margin-top: calc(100% - 40px);
      /* background-color: green; */
      /* pc */
      @media (min-width: 1024px) {
        position: absolute;
        /* top 초기화(기본 swiper 상쇄) */
        /* 이미지 위치에 맞춰 0부터 시작 -> 50%으로 정확히 정렬 */
        bottom: auto;
        z-index: 10;
        left: 0;
        top: 0;
        width: 50%;
        /* 모바일에서는 1 / 1이니까 100%를 주었는데, pc는 2 / 1 이니 50%을 줘야 함. */
        margin-top: calc(50% - 40px);
      }
    }
    .story-btn-prev,
    .story-btn-next {
      /* pc */
      @media (min-width: 1024px) {
        position: absolute;
        right: 30px;
        bottom: 30px;
        /* 기존 swiper 속성 해제해야 함. top, left 해제 */
        top: auto;
        left: auto;
        width: 30px;
        height: 30px;
        /* 잘 안 눌리는 걸 방지하기 위해 5 부여 */
        z-index: 5;
        color: var(--font-color__black);
      }
    }
    .story-btn-prev {
      /* pc */
      @media (min-width: 1024px) {
        right: 60px;
      }
    }
    /* pc */
    @media (min-width: 1024px) {
      position: relative;
    }
  }
  /* pc */
  @media (min-width: 1024px) {
    flex-direction: row;
    aspect-ratio: 2 / 1;
  }
}
.story-image__swiperSub,
.story-text__swiperSub {
  flex: 50%;
  border-radius: 20px;
  overflow: hidden;
  /* pc */
  @media (min-width: 1024px) {
    width: 50%;
  }
}
.story-image__swiperSub {
  aspect-ratio: 1 / 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  /* pc */
  @media (min-width: 1024px) {
    position: relative;
  }
}
.story-text__swiperSub {
  height: auto;
  padding: 30px 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    color: var(--font-color__gray);
    margin-top: 0.4em;
    /* pc */
    @media (min-width: 1024px) {
      font-size: 1.8rem;
      margin-top: 1.2rem;
    }
  }
  /* pc */
  @media (min-width: 1024px) {
    text-align: left;
    align-items: stretch;
    padding: 0 50px;
  }
  h3 {
    /* pc */
    @media (min-width: 1024px) {
      font-size: 2.4rem;
    }
  }
}
.story-slideAll .more-btn {
  width: 100%;
  margin-top: 1.2em;
  /* pc */
  @media (min-width: 1024px) {
    width: fit-content;
  }
}
/* --- section 2 --- */
.recommend {
  width: 100%;
  overflow: hidden;
  h2 {
    text-align: center;
    margin-bottom: 1.5em;
  }
  &-slide-container {
    /* pc */
    @media (min-width: 1024px) {
      width: 100%;
      margin-left: 0;
      left: auto;
    }
  }
  &-slide-wrapper {
    /* tablet */
    @media (min-width: 768px) and (max-width: 1023px) {
      margin-top: 50px;
    }
  }
  &-slide {
    p {
      margin-top: 0.2em;
    }
  }
}
.recommend-image__swiperMain,
.recommend-text__swiperMain {
  height: 50%;
}
.recommend-text__swiperMain {
  min-height: clamp(270px, 30vw, 320px);
  p {
    /* pc */
    @media (min-width: 1024px) {
      margin-top: 0.4em;
    }
  }
  /* tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    min-height: clamp(150px, 30vw, 200px);
  }
  /* pc */
  @media (min-width: 1024px) {
    min-height: clamp(100px, 30vw, 220px);
  }
}
/* --- section 3 --- */
.more-content {
  text-align: center;
  h2 {
    margin-bottom: 1.5em;
  }
  .content-item {
    /* pc */
    @media (min-width: 1024px) {
      max-height: 300px;
    }
  }
}
.content-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color__white);
  border-radius: 20px;
  overflow: hidden;
  & + & {
    margin-top: 20px;
    /* tablet */
    @media (min-width: 768px) and (max-width: 1023px) {
      margin-top: 20px;
    }
  }
  .card-text__sub3 {
    .more-btn {
      /* pc */
      @media (min-width: 1024px) {
        width: fit-content;
        left: auto;
        transform: none;
        margin-top: 1.5em;
      }
    }
    h3 {
      /* pc */
      @media (min-width: 1024px) {
        font-size: 2rem;
      }
    }
    p {
      /* pc */
      @media (min-width: 1024px) {
        font-size: 1.6rem;
        margin-top: 0.4rem;
      }
    }
    /* tablet */
    @media (min-width: 768px) and (max-width: 1023px) {
      text-align: left;
    }
    /* pc */
    @media (min-width: 1024px) {
      text-align: left;
    }
  }
  /* tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    aspect-ratio: 4 / 1;
    flex-direction: row;
    min-height: 250px;
  }
  /* pc */
  @media (min-width: 1024px) {
    aspect-ratio: 4 / 1;
    flex-direction: row;
  }
}
/* 안에 들어간 이미지 크기로 인해 높이가 달라지는 걸 방지 */
.card-image__sub3,
.card-text__sub3 {
  height: 100%;
}
.card-image__sub3 {
  aspect-ratio: 1 / 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
.card-text__sub3 {
  background-color: var(--bg-color__white);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: center;
  h3 {
    font-weight: 600;
  }
  p {
    color: var(--font-color__gray);
    margin-top: 0.4em;
  }
  .more-btn {
    border: 1px solid var(--border-color__gray);
    gap: 5px;
    margin-top: 1.2em;
    svg {
      width: 15px;
      height: 15px;
    }
    /* tablet */
    @media (min-width: 768px) and (max-width: 1023px) {
      width: fit-content;
      left: auto;
      transform: none;
    }
  }
}
