@charset "UTF-8";
main {
  width: 100%;
  height: 600px;
}

main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ----------- top btn ---------- */
.top-btn {
  width: 50px;
  height: 50px;
  background-color: #e5e5e5;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.more-btn {
  background-color: var(--bg-color__white);
  /* background-color: red; */
  margin-top: auto;
  color: #333333;
  padding: 10px 45px;
  display: inline-flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #333333;
}

.more-btn a {
  color: #000000;
}

/* 오른쪽 배치(명시적 기입) */
.c-slide .more-btn {
  position: absolute;
  border: 1px solid transparent;
  right: 25px;
  padding: 0;
  bottom: 30px;
  gap: 5px;
}

/* 100%를 채워야 하는 구역 */
.card-item__main .more-btn {
  width: 100%;
}

#container {
  width: 100%;
  /* overflow-x: hidden; */
  overflow-x: clip;
  background-color: var(--bg-color__white);
}

section {
  width: 100%;
  min-width: 375px;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 100px;
}

section > div {
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  background-color: var(--bg-color__white);
  height: 50px;
  /* position: relative; */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo-img {
  width: 185px;
  height: 100%;
}

.logo-img a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

/* nav */
nav {
  /* background-color: hotpink; */
  /* margin-right에 투명한 auto 벽을 세워서 nav를 왼쪽으로 밀어냄 */
  margin-right: auto;
  display: none;
}

nav ul {
  display: flex;
}

nav li {
  height: 100%;
  width: 185px;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: var(--font-color__black);
  font-size: 20px;
  font-weight: 600;
}

/* on */
nav li.on a {
  color: var(--active-color__red);
}

.all-menu {
  background-color: var(--bg-color__white);
  border-left: 1px solid var(--border-color__white);
  width: 300px;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
}

.all-menu-content {
  margin-top: 50px;
}

.first-menu {
  padding: 20px;
  font-weight: 600;
}

.first-menu > li > a {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  padding: 5px 0;
  font-size: 18px;
}

.first-menu > li:nth-child(2) > a::after,
.first-menu > li:nth-child(3) > a::after {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 8px;
  font-size: 14px;
}

.first-menu a {
  text-decoration: none;
  color: var(--font-color__black);
  font-size: 18px;
  line-height: 30px;
}

.second-menu {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.second-menu a {
  font-size: 15px;
  color: #4a4a4a;
}

.exit-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("/images/close-btn-image.png") center center no-repeat;
}

.all-menu.active {
  transform: translateX(0);
}

/* trigger */
.trigger {
  width: 25px;
  height: 20px;
  position: relative;
  right: 20px;
  cursor: pointer;
  /* background-color: red; */
}

.trigger span {
  width: 100%;
  background-color: var(--font-color__black);
  height: 2px;
  position: absolute;
  transition: 0.3s;
}

.trigger span:first-child {
  top: 0;
}

.trigger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.trigger span:last-child {
  bottom: 0;
}

/* hover(active) */
.trigger:hover span:first-child {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}

.trigger:hover span:nth-child(2) {
  display: none;
}

.trigger:hover span:last-child {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}

/* 메인&서브 4의 card */
.card-item__main {
  /* 실제 flex 역할 */
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color__white);
  border-radius: 20px;
  overflow: hidden;
}

.card-item__main + .card-item__main {
  margin-top: 50px;
}

.card-image__main {
  aspect-ratio: 1/1;
  min-height: 0;
}

.card-text__main {
  padding: 30px 20px 30px 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: clamp(260px, 25vw, 400px);
}

.card-image__main,
.card-text__main {
  background-color: var(--bg-color__white);
  width: 100%;
}

.card-image__main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text__main h3 {
  font-size: 2rem;
}

.card-text__main p {
  margin-top: 0.4em;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--font-color__gray);
  /* 텍스트가 많아도 버튼을 1.2em만큼 밑으로 밀어내기 위해 */
  margin-bottom: 1.2em;
}

.card-text__main .more-btn {
  /* margin-top: auto; */
}

/* ------- footer ------- */
footer {
  margin-top: 150px;
  width: 100%;
  /* height: 400px; */
  background-color: black;
  padding: 80px 40px;
}

.footer-wrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
}

.footer-content {
  margin-top: 40px;
  height: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}

.footer-content ul {
  width: 160px;
}

.footer-content li {
  line-height: 1.8;
}

.footer-content a {
  color: #ffffff;
}

.footer-content li:not(.footer-menu) {
  font-size: 15px;
}

.footer-menu {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}

.footer-icon {
  color: #ffffff;
  width: 100%;
  flex-basis: 100%;
  display: flex;
  margin-top: 30px;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* a 밑에 이미지가 있으므로 그걸 중앙 정렬하려면 li말고 a를 flex해야 함 */
.footer-location a {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-location {
  width: 100%;
  flex-basis: 100%;
}

.footer-location img {
  width: 20px;
  height: 20px;
}

.footer-icon li:not(.footer-location) a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-icon li:not(.footer-location) a img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* copyright */
.footer-copy {
  display: block;
  color: var(--font-color__gray);
  text-align: left;
  margin-top: 30px;
}

.footer-copy span {
  font-size: 15px;
}

/* media query */
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* 세로 배치 */
  .card-item__main {
    flex-direction: column;
    /* 또 여기서 ratio 주면 찌그러짐 */
    /* aspect-ratio: 1 / 1; */ /* ok */
  }
  /* 1:1 비율 유지 */
  .card-image__main,
  .card-text__main {
    width: 100%; /* ok */
  }
  .card-text__main {
    padding: 50px 40px; /* ok */
  }
  .card-text__main > div {
    width: 100%;
    text-align: center; /* ok */
  }
  .card-text__main .more-btn {
    width: 100%; /* ok */
  }
  footer {
    padding: 80px 60px; /* ok */
  }
}
/* pc */
@media (min-width: 1024px) {
  header {
    height: 80px;
    border-bottom: 1px solid var(--border-color__white); /* ok */
  }
  /* nav */
  nav {
    display: block;
    height: 100%; /* ok */
  }
  nav ul {
    /* nav -> ul로 높이 100 점유 -> a에서 100%으로 꽉 채움 */
    height: 100%; /* ok */
  }
  /* li가 아니라 li a에 flex인 이유는 a 전체 영역을 늘리고 정렬을 동시에 하기 위해 */
  nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* ok */
  }
  /* a의 영역은 유지하고 span에 after를 줘서 글자의 넓이 만큼만 밑줄이 생기도록 */
  nav li a span {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%; /* ok */
  }
  nav li a span::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--active-color__red);
    transition: width 0.3s ease; /* ok */
  }
  /* hover */
  nav li a:hover span::after {
    width: 100%; /* ok */
  }
  /* on - 페이지 머무를 시 */
  nav li.on a span {
    color: var(--active-color__red); /* ok */
  }
  .first-menu > li:nth-child(2) > a::after,
  .first-menu > li:nth-child(3) > a::after {
    display: none; /* ok */
  }
  .main-menu li a {
    transition: 0.3s; /* ok */
  }
  /* trigger */
  .trigger {
    display: none; /* ok */
  }
  .all-menu {
    width: 100%;
    height: auto;
    top: 80px;
    /* 모바일 bottom 해제 */
    bottom: auto;
    right: 0;
    opacity: 0;
    pointer-events: none;
    /* background-color: var(--bg-color__white); */
    background-color: rgba(255, 255, 255, 0.9);
    /* 뒷 배경 블러 */
    backdrop-filter: blur(10px);
    border-left: 1px solid transparent;
    border-bottom: 1px solid var(--border-color__white);
    z-index: 200; /* ok */
  }
  .all-menu.active {
    opacity: 1;
    pointer-events: auto; /* ok */
  }
  .all-menu .exit-btn {
    display: none; /* ok */
  }
  .all-menu li a {
    font-size: 20px; /* ok */
    /* background-color: red; */
    /* 30이 한계인데 이걸 어떻게 하지? */
  }
  .all-menu-content {
    margin-top: 0;
    height: 100%;
    /* 로고 넓이 만큼 밀어내기 */
    margin-left: 185px;
    padding: 10px 0;
    /* border: 1px solid red; */ /* ok */
  }
  .first-menu {
    display: flex;
    text-align: center;
    height: 100%;
    padding: 0; /* ok */
  }
  .first-menu > li {
    width: 185px; /* ok */
  }
  .first-menu li > a {
    transition: 0.3s; /* ok */
  }
  /* hover */
  .first-menu li:hover > a {
    color: #000000;
    font-weight: 500; /* ok */
  }
  .first-menu > li > a {
    /* 전체 메뉴를 펼쳤을 때 서브만 보여야 하니 처음 메뉴는 숨겨야 함 */
    visibility: hidden;
    /* visibility: visible; */
    /* 근데 hidden만 하면 높이가 살아있으니, block화 해서 0으로 해야 li 공간은 유지하고 글자만 쏙 빠짐. */
    display: block;
    height: 0;
    transition: none;
    padding: 0; /* ok */
  }
  .second-menu {
    /* 아코디언때 쓴건데 빼도 동작은 함 pc라서 */
    max-height: none; /* ok */
  }
  .second-menu li {
    /* background-color: red; */
    padding: 0;
    margin: 0; /* ok */
  }
  .second-menu > li {
    padding: 10px 0; /* ok */
  }
  .second-menu > li > a {
    color: #4a4a4a;
    font-size: 18px; /* ok */
  }
  .top-btn {
    /* 최소로 창을 줄일 때는 right: 80을 유지하다가 1280을 넘어가면 더이상 밖으로 안 빠져나가도록 max값을 함 */
    /* 1280이 전체 컨테이너지만, 패딩 160을 제외하면 1120이고 이걸 절반으로 하면 560 */
    /* 560만 빼면 컨테이너 끝에 붙지만 pc로 최대 넓이일 때 살짝 오른쪽으로 가야하므로 100px만큼 더 뺌 */
    right: max(80px, 50% - 560px - 100px);
    bottom: 40px; /* ok */
  }
  /* 세로 배치 */
  .card-item__main {
    flex-direction: row;
    aspect-ratio: 2/1;
    border: none; /* ok */
  }
  .more-btn::after {
    display: none; /* ok */
  }
  /* 1:1 비율 유지 */
  .card-image__main,
  .card-text__main {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden; /* ok */
  }
  /* 짝수 역순 */
  .card-item__main.is-reverse {
    flex-direction: row-reverse; /* ok */
  }
  .card-text__main {
    padding: 90px 40px;
    text-align: left;
    justify-content: center; /* ok */
  }
  .card-text__main h3 {
    font-size: 3rem; /* ok */
  }
  .card-text__main p {
    font-size: 1.8rem;
    margin-top: 0.4em; /* ok */
  }
  .card-text__main .more-btn {
    /* margin-top: 2em; */
    width: -moz-fit-content;
    width: fit-content; /* ok */
  }
  /* footer */
  footer {
    padding: 80px 70px; /* ok */
  }
  .footer-icon {
    flex-wrap: nowrap;
    justify-content: flex-end; /* ok */
  }
  .footer-location {
    width: auto;
    flex-basis: auto; /* ok */
  }
  .footer-icon li:not(.footer-location) a {
    margin-top: 0; /* ok */
  }
  .footer-copy {
    text-align: right; /* ok */
  }
}/*# sourceMappingURL=layout.css.map */