/* --- swiper tab 이동 무한루프 해제 --- */
/* 삭제함. */

/* swiper pagination dot */
.common-dot {
  /* 기본 swiper dot에 0.2정도로 되어있기에 opacity: 1로 해야 함. */
  opacity: 1;
  background-color: var(--font-color__gray);
  width: 10px;
  height: 10px;
  transition: 0.3s;
  &.swiper-pagination-bullet-active {
    background-color: red;
    width: 50px;
    border-radius: 20px;
  }
}

/* --------------------- swiper slide 공통 ---------------------- */

/**
 * 공통 스와이퍼
 * @param {string} name - 각 슬라이더의 고유 이름 (예: pick, reco)
 * * [구조 매칭 가이드]
 * - .c-slide__container = .${name}-slide-container (swiper-slide-container)
 * - .c-slide            = .${name}-slide (swiper-slide)
 * - .c-slide-text__swiperMain      = .${name}-text__swiperMain
 * - .c-slide-image__swiperMain     = .${name}-image__swiperMain
 */

.c-slide {
  background-color: var(--bg-color__white);
  border: 1px solid var(--border-color__white);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  &__container {
    width: calc(100% + 40px);
    margin-left: -20px;
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    /* tablet */
    @media (min-width: 768px) and (max-width: 1023px) {
      width: calc(100% + 80px);
      position: relative;
      margin-left: -40px;
    }
  }
  /* swiper 슬라이드 카드 클릭 효과 */
  &:active {
    opacity: 0.8;
    transform: scale(0.99);
    transition:
      transform 0.1s,
      opacity 0.1s;
    @media (min-width: 1024px) {
      opacity: 1;
      transform: scale(1);
      transition: none;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  /* pc */
  @media (min-width: 1024px) {
    width: calc((100% - 40px) / 3);
  }
}
.c-slide-text__swiperMain {
  padding: 20px;
  box-sizing: border-box;
  // background-color: var(--bg-color__white);
  min-height: clamp(180px, 30vw, 250px);
  position: relative;
  h3 {
    font-weight: 500;
    /* pc */
    @media (min-width: 1024px) {
      font-size: 1.8rem;
    }
  }
  p {
    color: var(--font-color__gray);
  }
  .more-btn {
    position: absolute;
    border: 1px solid transparent;
    right: 25px;
    padding: 0;
    bottom: 20px;
    gap: 5px;
    -webkit-tap-highlight-color: transparent;
    svg {
      width: 15px;
      height: 15px;
    }
  }
  /* tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    min-height: clamp(150px, 30vw, 200px);
  }
  /* pc */
  @media (min-width: 1024px) {
    min-height: clamp(100px, 30vw, 180px);
  }
}
.c-slide-image__swiperMain {
  aspect-ratio: 1 / 1;
}
.c-slide-image__swiperMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
